@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a class="anchor" id="about"></a>
<div class="col-sm-12">
    <div class="blog">
        <h4>Hello &amp; Welcome</h4>
        <p class="blog-txt text-justify">
            My name is Helen and I am a junior developer currently living and working in Nottingham, UK.<br><br>
I am exploring C# so here is my first web application using a tutorial from Microsoft.<br><br>
            You can find the rest of my work <a href="https://github.com/HelenKeeling" target="_blank">
    here </a> and  
    <a href="https://helenkeeling.co.uk" target="_blank"> on my personal website </a>
</p>
    </div>
</div>
